@charset "utf-8";

// brick
.brick {
  margin: $space * 2 $space;
  padding: $space;
  border-radius: $radius;

  @include bp(small) {
    margin: $space - 1px 0;
    padding: 1px 0;
    border-radius: 0;
  }
}

@include bp(small) {
  .brick {
    margin: $space;
  }
  [class^='col'] + [class^='col'] > .brick {
    margin-top: 0;
  }
}