@charset "utf-8";

// row
.row {
  display: flex;
  flex-wrap: wrap;

  &--reverse {
    @extend .row;
    flex-direction: row-reverse;
  }
}

// col
@for $i from 1 through 2 {
  .col#{$i}of3 {
    width: 33.3333% * $i;
  }
}

@for $i from 1 through 3 {
  .col#{$i}of4 {
    width: 25% * $i;
  }
}

@for $i from 1 through 4 {
  .col#{$i}of5 {
    width: 20% * $i;
  }
}

@for $i from 1 through 5 {
  .col#{$i}of6 {
    width: 16.6666% * $i;
  }
}

@for $i from 1 through 7 {
  .col#{$i}of8 {
    width: 12.5% * $i;
  }
}

@for $i from 1 through 9 {
  .col#{$i}of10 {
    width: 10% * $i;
  }
}

@include bp(small) {
  [class^='col'] {
    width: 100%;
  }
}
