@charset "utf-8";

/* body */
body {
  //
}

/* platform */
.platform {
  min-width: 320px;
  display: flex;
  min-height: 100vh;

  &__header {
    max-width: 240px;
    background: #f00;
  }
  &__contents {
    background: #0f0;
    flex-grow: 1;
  }
  &__bottomNav {
    background: #f00;
    display: none;
    position: sticky;
    bottom: 0;
  }
  @include bp(medium) {
    &__header {
      max-width: 64px;
    }
  }
  @include bp(small) {
    flex-direction: column;
    &__header {
      max-width: none;
    }
    &__bottomNav {
      display: block;
    }
  }
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  &--narrow {
    @extend .container;
    max-width: 900px;
  }
}

/* mainContents */
.mainContents {
  position: relative;
  flex: 1;
}
