@charset "utf-8";

// zindex
.pulldown {
  z-index: 100;
}

.globalHeader {
  z-index: 2100;
}

.popup,
.tooltip {
  z-index: 3000;
}

.overlay {
  z-index: 4000;
}

.dialog {
  z-index: 5000;
}

.message {
  z-index: 6000;
}